.brief{
    height: 100%;
    >.left,>.right{
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;
    }
    >.right{
        background-image: url("~@/public/image/home-bg.jpg");
        clip-path: polygon(35% 0, 100% 0%, 100% 100%, 65% 100%);
    }
}