@import "./various.scss";

@function pxTorem($px, $browser-default-font-size: 19.2px) {
    //$px为需要转换的字号
    @return $px / $browser-default-font-size * 1rem;
}

@media screen and (max-width:$sm-device) {
    body {
        background-color: red;
    }
}

@media screen and (min-width: $sm-device) and (max-width:$md-device) {
    body {
        background-color: green;
    }
}

@media screen and (min-width:$md-device) and (max-width:$lg-device) {
    body {
        background-color: blue;
    }
}

@media screen and (min-width:$lg-device) and (max-width:$xl-device) {
    body {
        background-color: yellow;
    }
}

@media screen and (min-width:$xl-device) {}