@import "./various.scss";

.container {
    display: flex;
    height: 100%;

    >.left,
    >.right {
        height: inherit;
    }

    >.left {
        width: 33%;
        position: relative;

        >.nav {
            text-align: right;
            color: $theme-color;
            height: 0.5rem;
            font-size: 0.4rem;
            line-height: 0.5rem;
            padding-left: 0.3rem;
            padding-right: 0.3rem;
        }

        >.card-container {
            color: #000;
            cursor: pointer;
            width: 75%;
            aspect-ratio: 3/4;
            position: relative;

            &:hover {
                >.back {
                    transform: rotateZ(-5deg);
                }
            }

            >.card {
                border-radius: 0.3rem;
                border: 0.01rem solid rgba($sub-color, 0.1);
                width: 100%;
                aspect-ratio: inherit;
                position: absolute;
                left: 0;
                top: 0;
            }

            >.front {
                background-color: rgba(#fff, 0.02);
                backdrop-filter: blur(2rem);
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15), transparent);

                >img {
                    width: 100%;
                    display: block;
                }
            }

            >.back {
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), transparent);
                transform-origin: bottom;
                background-color: rgba(#000, 0.05);
                transform: rotateZ(0);
                transition-duration: 0.3s;
                z-index: -1;
            }

        }

        >.ul {}
    }

    >.right {
        width: 67%;
        background-color: $theme-color;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        color: $sub-color;
    }
}