@import "./various.scss";

.container {
    display: flex;
    height: 100%;

    >.left,
    >.right {
        height: inherit;
    }

    >.left {
        width: 33%;
        position: relative;
        overflow: hidden;

        >.nav {
            text-align: right;
            color: $theme-color;
            height: 0.5rem;
            font-size: 0.4rem;
            line-height: 0.5rem;
            padding-left: 0.3rem;
            padding-right: 0.3rem;
        }

        >.title,
        >.subtitle {
            color: $theme-color;
            margin: 0 auto;
        }

        >.subtitle {
            font-size: 0.23rem;
            line-height: 0.3rem;
        }

        >.title {
            font-size: 0.45rem;
            line-height: 0.45rem;
        }

        >.card-container {
            color: #000;
            cursor: pointer;
            width: 75%;
            aspect-ratio: 3/4;
            position: absolute;

            &:hover {
                >.back {
                    transform: rotateZ(-5deg);
                }
            }

            >.card {
                border-radius: 0.3rem;
                border: 0.01rem solid rgba($sub-color, 0.1);
                width: 100%;
                aspect-ratio: inherit;
                position: absolute;
                left: 0;
                top: 0;
            }

            >.front {
                background-color: rgba(#000, 0.1);
                backdrop-filter: blur(1.2rem);
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.015), transparent);
                overflow: hidden;

                >ul {
                    list-style-type: none;
                    column-gap: 0.1rem;
                    display: flex;
                    flex-wrap: wrap;

                    >li {
                        width: fit-content;
                        background-color: $theme-color;
                        border-radius: 0.05rem;
                        color: #fff;
                        font-size: 0.29rem;
                        margin: 0.05rem 0;
                        padding: 0.05rem 0.15rem;
                        font-size: 0.18rem;
                        animation: opa 1.25s forwards var(--delay);
                        opacity: 0;
                        transform: translateY(0.5rem);

                    }

                    @keyframes opa {
                        0% {
                            opacity: 0;
                            transform: translateY(0.5rem);
                        }

                        100% {
                            opacity: 1;
                            transform: translateY(0);
                        }

                    }
                }
            }

            >.back {
                background-image: linear-gradient(to bottom, rgba(#000, 0.075), transparent);
                transform-origin: bottom;
                background-color: rgba(#000, 0.05);
                transform: rotateZ(0);
                transition-duration: 0.3s;
                z-index: -1;
            }

        }

        >.ul {
            --distance: 100% - 0.45rem - 0.3rem - 0.5rem;
            background-color: $theme-color;
            color: #fff;
            height: calc(var(--distance));
            position: absolute;
            z-index: 2;
            width: 100%;
            margin: 0;
            padding: 3rem 0 0 0;
            border-top-left-radius: 0.35rem;
            border-top-right-radius: 0.35rem;
            font-weight: bold;
            text-align: left;
            list-style-type: none;

            >.job {
                font-size: 0.45rem;
                cursor: pointer;
                width: fit-content;
                position: relative;
                line-height: 0.8rem;
                border-bottom: 0.03rem solid #fff;
                margin: 0.3rem 0 0.3rem 1rem;
                transition-duration: 0.75s, 1.2s;
                transform: scale(1);
                transition-property: transform, border-bottom-color;
                transition-delay: 0s, 0.5s;

                &:hover {
                    transform: scale(1.2);
                    border-bottom-color: rgba(204, 0, 16, 1);
                }
            }
        }

        >.move-in {
            animation: move 0.4s forwards ease-in;
        }

        >.move-out {
            animation: move-o 0.4s forwards ease-in;
        }

        @keyframes move {
            0% {
                transform: translateY(100%);
            }

            100% {
                transform: translateY(0);
            }
        }

        @keyframes move-o {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(100%);
            }
        }


    }

    >.right {
        width: 67%;
        background-color: $theme-color;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        color: $sub-color;
    }
}