@import "./various.scss";


.footer {

    width: 100%;

    >.medium {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-around;

        >li {
            cursor: pointer;
            text-align: center;
            position: relative;

            >.drop,
            >i {
                display: inline-block;
                margin-bottom: 2rem;
                margin-top: 0.5rem;
                width: 0.8rem;
                height: 0.8rem;
                border-radius: 0.8rem;
            }

            >i {
                font-size: 0.6rem;
                color: $theme-color;
                transition-duration: 0.7s;
                background-color: #fff;
                line-height: 0.8rem;
                position: relative;
                z-index: 1;

            }

            >.i-active {
                background-color: $theme-color;
                color: #fff;
            }

            >.drop {
                left: 50%;
                margin-bottom: 0;
                transform: translateX(-50%);
                position: absolute;
                animation-iteration-count: infinite;
                animation-duration: 1.5s;
                animation-timing-function: ease-in-out;
                display: none;
                font-size: 0.8rem;
                color: $theme-color;

                &:nth-child(2) {
                    animation-delay: 0.5s;
                }

                &:nth-child(3) {
                    animation-delay: 0.75s;
                }
            }

            >.droping {
                animation-name: dp;
                display: inline-block;

            }

            @keyframes dp {
                0% {
                    top: 0;
                }

                100% {
                    top: 3rem;
                }
            }

            >.waves {
                height: 1rem;
                display: flex;
                filter: contrast(1);

                >.wave {
                    animation: ro 5s linear infinite;
                    background-color: $theme-color;
                    filter: blur(0.01rem);
                    border-radius: 0.4rem;

                }
            }

            >.pool {
                background-color: $theme-color;
                position: absolute;
                width: 100%;
                transform: translateY(-77%);
            }

            @keyframes ro {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        }

        >.width-5 {
            width: 20%;
        }

        >.width-6 {
            width: calc(100% / 6);
        }

        >.width-7 {
            width: calc(100% / 7);
        }
    }

    >.base {
        height: 1.5rem;
        background-color: $theme-color;
        text-align: center;
        font-size: 0.48rem;
        line-height: 1.5rem;
        cursor: pointer;
        color: #fff;
        position: relative;

        >.link {
            margin: 0;
            padding: 0;
            background-clip: text;
            -webkit-background-clip: text;
            color: #fff;
            position: absolute;
            width: fit-content;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            letter-spacing: 0.1rem;

        }


    }
}