.bg {
    background-image: url("../image/introduction.png");
    width: 100vw;
    height: 100vh;
    text-align: center;

    >.main-title,
    >.sub-title {
        margin: 0;
        color: #FFF;
        position: absolute;
        font-style: normal;
        transform: translate(-50%, 0);
        left: 50%;
        width: 100%;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: system-ui;
        font-weight: 400;
        user-select: none;
        animation-name: tracking-in-expand-fwd-bottom;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-fill-mode: both;
        animation-delay: 0.5s;
    }

    >.btn {
        position: absolute;
        border-radius: 0.39063rem;
        border: 5px solid rgba(0, 0, 0, 0.50);
        background-color: rgba(169, 156, 173, 0.75);
        bottom: 15.1rem;
        transform: translate(-50%, 0);
        left: 50%;
        padding: 1.15rem 1.46rem 1.15rem 1.51rem;
        color: #FFF;
        font-size: 1.66667rem;
        line-height: 1.66667rem;
        font-family: system-ui;
        font-style: italic;
        cursor: pointer;
    }

    >.main-title {
        font-size: 7.70833rem;
        line-height: 7.70833rem;
        top: 19.53rem;

    }

    >.sub-title {
        top: 18.39rem;
        color: #EFEFEF;
        font-size: 1.875rem;
        line-height: 1.875rem;
        animation-delay: 1.5s;
    }
}

@keyframes tracking-in-expand-fwd-bottom {
    0% {
      
        transform:  translateY(100px) translateX(-50%);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        transform:  translateY(0) translateX(-50%);
        opacity: 1;
    }
}