@import "./various.scss";

.bg {
    background-image: url("../image/introduction.png");
    text-align: center;
    width: 100%;
    height: 100vh;

    >.img {
        object-fit: cover;
    }

    >.main-title,
    >.sub-title {
        margin: 0;
        color: #FFF;
        position: absolute;
        font-style: normal;
        transform: translate(-50%, 0);
        left: 50%;
        width: 100%;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: system-ui;
        font-weight: 400;
        user-select: none;
        animation-name: tracking-in-expand-fwd-bottom;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-fill-mode: both;
        animation-delay: 0.5s;
    }

    >.btn {
        position: absolute;

        border: 5px solid rgba(0, 0, 0, 0.50);
        background-color: rgba(169, 156, 173, 0.75);

        transform: translate(-50%, 0);
        left: 50%;

        color: #FFF;

        font-family: system-ui;
        font-style: italic;
        cursor: pointer;

        &:hover {
            animation: jello-horizontal 0.9s both;
        }
    }

    >.main-title {}

    >.sub-title {

        color: #EFEFEF;

        animation-delay: 1.5s;
    }
}

@keyframes tracking-in-expand-fwd-bottom {
    0% {

        transform: translateY(100px) translateX(-50%);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        transform: translateY(0) translateX(-50%);
        opacity: 1;
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: translate(-50%, 0) scale3d(1, 1, 1);
        transform: translate(-50%, 0) scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: translate(-50%, 0) scale3d(1.25, 0.75, 1);
        transform: translate(-50%, 0) scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: translate(-50%, 0) scale3d(0.75, 1.25, 1);
        transform: translate(-50%, 0) scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: translate(-50%, 0) scale3d(1.15, 0.85, 1);
        transform: translate(-50%, 0) scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: translate(-50%, 0) scale3d(0.95, 1.05, 1);
        transform: translate(-50%, 0) scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: translate(-50%, 0) scale3d(1.05, 0.95, 1);
        transform: translate(-50%, 0) scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: translate(-50%, 0) scale3d(1, 1, 1);
        transform: translate(-50%, 0) scale3d(1, 1, 1);
    }
}