.container {
    width: 100%;
    height: 100vh;
    background-color: #1f1f1f;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d; // 父元素的开启3d属性 
    perspective: 1200px;

    >.circle {
        width: 100vh;
        height: 100vh;
        border-radius: 50vh;
        background-color: #fff;
        position: absolute;
        right: 0;
        transform: translateX(50%);
    }

    >.title {
        margin: 0;
        padding: 0;
        mix-blend-mode: difference;
        color: #fff;
        position: absolute;
        transform-origin: center;


    }

    >.main-title {
        left: 0.75rem;
        top: 2.5rem;
        font-size: 2rem;
        letter-spacing: 0.12rem;
        text-transform: uppercase;
        white-space: nowrap;
        transform: rotateY(65deg);
    }

    >.sub-title {
        left: 2.75rem;
        top: 5.5rem;
        font-size: 0.62rem;
        text-transform: capitalize;
        white-space: nowrap;
        transform: rotateY(70deg) skewy(2deg);
    }
}