@import "./various.scss";
$duration: 1s;

.container {
    height: 100%;
    width: 100%;
    position: relative;
    $rate: 99.5%;
    $rest: 100% - $rate;

    >.middle {
        height: 100vh;
        width: 100%;
        overflow: hidden;

        >.box {
            background-color: $theme-color;
            position: absolute;
            width: 100vw;
            height: 100vh;

            animation: {
                name: bg-color;
                duration: $duration;
                delay: $duration;
                fill-mode: forwards;
            }
        }

        >.left-box {
            left: -100%;
            clip-path: polygon($rate 0, 0 0, 0 $rate);
            animation-name: move-from-left;
        }

        >.right-box {
            clip-path: polygon($rate $rate, $rate $rest, 0 $rate);
            animation-name: move-from-right;
            left: 100%;
        }

        @keyframes move-from-left {
            0% {
                left: -100%;
            }

            100% {
                left: 0;
            }
        }

        @keyframes move-from-right {
            0% {
                left: 100%;
            }

            100% {
                left: 0;
            }
        }


        >.projects {
            overflow: hidden;
            height: 100vw;
            width: 100%;

            >.ul {
                margin: 0;
                padding: 0;
                color: #fff;
                height: 100vh;
                list-style-type: none;
                overflow: hidden;
                position: relative;
                left: 100%;
                display: flex;
                align-items: center;
                padding-left: 10vw;
                width: fit-content;
                column-gap: 2vw;
                animation: move-in 2s forwards $duration * 2;

                >li {
                    width: 12vw;
                    background-color: blue;
                    aspect-ratio: 1/1.75;
                    overflow: hidden;
                    border-radius: 0.1rem;

                    >.item {
                        background-repeat: no-repeat;
                        position: relative;
                        height: 100%;
                        cursor: pointer;
                        background-size: cover;
                        background-position: center top;
                    }
                }

            }

            @keyframes move-in {
                0% {
                    left: 100%;
                }

                100% {
                    left: 55%;
                }
            }
        }
    }

}





@keyframes bg-color {
    0% {
        background-image: linear-gradient(to right, #fff, #fff);
    }

    100% {
        background-image: linear-gradient(to right, $sub-color, $sub-color);
    }
}