// Unversal style for the entire app

.position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bg-universal {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}