@font-size: 15px;
@font-color: rgba(0, 0, 0, 0.65);

* {
  color: @font-color;
  font-size: @font-size;
}

html, body, ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;

}

.router-link {
  color: #b9c8e0;
  text-decoration: none;

  &:hover {
    color: #fff;
    text-decoration: none;
  }

}
