@detail-height: 81px + 56*4px;
.user-detail {


  .user-detail-mask {
    height: 80px;
    background-color: transparent;
  }

  .user-detail-content {
    background-color: #fff;
    min-height: @detail-height;
  }
}
